%header
  %h1 Amendment #{ @amendment_number }

.row
  .container
    %section.debate.amendments
      .amendment
        %span.process.commons 1
        %h2 Passed
        %p "(1) Marriage of same sex couples is lawful.

        %p(2) The marriage of a same sex couple may only be solemnized in accordance
        with—

        %p(a) Part 3 of the Marriage Act 1949,

        %p (b)Part 5 of the Marriage Act 1949,
        %p (c)the Marriage (Registrar General's Licence) Act 1970, or
        .meta
          %time 10th January 2013
      .amendment
        %h2 Previous
        %span.process.lords 1
        %p "(1) A person may not be compelled by any means (including by the enforcement
        %p of a contract or a statutory or other legal requirement) to—

        %p (a) undertake an opt-in activity
        %p (b))Part 5 of the Marriage Act 1949,
        %p (c)the Marriage (Registrar General's Licence) Act 1970, or
        .meta
          %time 10th January 2013
      %button.btn.btn-primary Back to legislation

.row.debate
  %header.col-md-12
    %h1 Debate for amendment #{ @amendment_number }

- @debate.each do |debate_segment|
  .row.debate
    %aside.col-md-3
      .wrapper
        %span.img
          - if debate_segment.speaker["image"]
            %img{ src: URI.join("http://www.theyworkforyou.com/", debate_segment.speaker["image"]).to_s }
        %span.title
          %h3
            %a{:href => "theyworkforyou.com" }
              = debate_segment.speaker["title"]
              = debate_segment.speaker["first_name"]
              = debate_segment.speaker["last_name"]
          %span.desc
            = debate_segment.speaker["desc"]

    %section.col-md-9
      != debate_segment.body
      %p
        %em
          Source:
          = link_to debate_segment.source_url


