!!! 5
%html
  %head
    %title= "MetaBill - Legislation with history"
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .container
      %header.header
        %h1 MetaBill
        %h2 Explore legislation & see the arguments that shaped clauses, news stories and laws.
        = yield(:header) if content_for?(:header)


      = content_for?(:content) ? yield(:content) : yield