!!! 5
%html
  %head
    %title= "MetaBill - Legislation with history"
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .container
      %header.header
        %h1
          %a MetaBill
        %h2 Explore legislation & see the arguments that shaped clauses, news stories and laws.
        = yield(:header) if content_for?(:header)

      = content_for?(:content) ? yield(:content) : yield

      %footer.footer
        %strong MetaBill 
        was created by
        %a{:href => "http://www.twitter.com/blangry"} @blangry
        ,
        %a{:href => "http://www.twitter.com/dgmstuart"} @dgmstuart
        ,
        %a{:href => "http://www.twitter.com/zeeraw"} @zeeraw
        , 
        %a{:href => "http://www.twitter.com/lily_dart"} @lily_dart
        , 
        %a{:href => "http://www.twitter.com/tomhipkin"} @tomhipkin
        , (who work for
        %a{:href => "http://www.twitter.com/thedxw"} @thedxw
        ),
        %a{:href => "http://www.twitter.com/marcelloseri"} @marcelloseri
        and
        %a{:href => "http://www.twitter.com/steve_upton"} @steve_upton
        for 
        %a{:href => "http://rewiredstate.org/hacks/uk-parliament-hack-2013"} Parliament Hack 2013

